 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Akilan is a senior at Wheeler High School's Center for Advanced Studies with an avid interest in computer engineering and robotics. He loves discovering new things everyday and always pushes all limits further and further, never settling for less. He will be pursuing a Ph.D. in Computer Engineering to attain my career goal of a researcher in the field.</p>
                </div>
                <div class="col-lg-4">
                    <p>Outside of work, Akilan loves listening to many types of music ranging from rap to metal. He also enjoys playing the drumset. Akilan enjoys travelling around the country and the world. He recently traveled to the Minnesota-Canada boundary waters where he went on a 53-mile canoe trip with his Boy Scout troop. Akilan has also visited India on many occasions, where much of his family resides. Akilan also likes watching and playing sports, especially soccer (his favorite team is Chelsea).</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        read more
                    </a>
                </div>
            </div>
        </div>
    </section>